# ======================================================
# macOS system files
# ======================================================
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes

# ======================================================
# Sass / Cache
# ======================================================
.sass-cache/
*.log

# ======================================================
# Python
# ======================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
.venv/
venv/
env/
pip-wheel-metadata/

# ======================================================
# Bash / Shell
# ======================================================
*.swp
*.bak
*.tmp
*.temp

# ======================================================
# Docker / Kubernetes / Helm
# ======================================================
*.tgz
chart.lock
charts/
values.override.yaml
k8s/tmp/
*.crt
*.key

# ======================================================
# IDE / Editor
# ======================================================
.vscode/
.idea/
*.iml

# ======================================================
# Logs / Outputs
# ======================================================
*.out
*.log
nohup.out